.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  border-radius: 10px;
  transition: opacity 0.8s ease;
  opacity: 50%;
}
.container:hover,
.container:active {
  transition: opacity 0.4s ease;
  opacity: 100%;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  border-radius: 50%;
  cursor: pointer;
}
.icon:hover {
  filter: brightness(110%) drop-shadow(0 0 5px rgba(255, 255, 255, 0.3));
}

.volume_slider {
  cursor: pointer;
  width: 128px;
  margin: 0rem 20px;
}
.volume_slider:hover,
.volume_slider:active {
  filter: brightness(110%) drop-shadow(0 0 5px rgba(255, 255, 255, 0.3));
}

.song_name {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
