@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GWENT";
  src: url("/fonts/hinted-GWENT-ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HalisGR-Bold";
  src: url("/fonts/hinted-HalisGR-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HalisGR-Book";
  src: url("/fonts/hinted-HalisGR-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HalisGR-Light";
  src: url("/fonts/hinted-HalisGR-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

body {
  background-color: rgb(26, 26, 26);
  color: white;
  max-height: 100vh;
  overflow: hidden;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -99;
}

.gwent-logo {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
.gwent-logo:hover {
  transform: translate(-50%, -50%) scale(1.01);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3)) brightness(110%);
}

.main-menu {
  background-image: url("/images/menus/mainMenu.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-containers {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.card-container {
  display: flex;
  align-content: start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  max-width: 42%;
  max-height: 82vh;
  overflow: auto;
  border: 1px solid white;
}

.menu-button {
  padding: 2px 5px;
  border-radius: 8px;
  font-family: "GWENT", Arial;
  font-size: 30px;
  color: #8e711f;
  text-shadow: 0 2px 15px rgba(0, 0, 0, 0.77);
  background-image: linear-gradient(180deg, #9b721d, #ffff83);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}
